body {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    margin-top: 50px;
}

.generate-button {
    background-color: #004225;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.generate-button:hover {
    background-color: #006237;
}

.output-box {
    background-color: #fff;
    line-height: 1.6;
    padding: 20px;
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

